<section class="main-content container-fluid">
    <div class='row'>
      <div class="col-sm-4 col-md-3 sidebar file-tree animated slow fadeIn ng-scope">
        <ul class="list-group">
          <li   class="list-group-item">
              <a   class="list-group-link" href="#!/allproducts">All products</a></li>
          </li>
          <li  class="list-group-item">
              <a   class="list-group-link" href="#!/single-product">Single Product</a></li>
          </li>
          <li   class="list-group-item">
              <a   class="list-group-link" href="#!/about-us">About us</a></li>
          </li>
          <li   class="list-group-item">
              <a   class="list-group-link" href="#!/about-Jason"> About Jason</a></li>
          </li>
        </ul>

      </div>
      <div class="col-sm-8 col-md-9">
        <div ng-view>
        </div>
      </div>
    </div>
  </section>
